Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})


Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd 

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

 
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
# Both loc and iloc are used to access the data in a Pandas DataFrame, but they differ in how they access the data.

# loc is label-based indexing, which means that it accesses the data based on the labels of rows or columns. We can use loc to access rows and columns by their label or a boolean array. The syntax for using loc is as follows:
df.loc[row_label, column_label]

In [ ]:
# iloc is integer-based indexing, which means that it accesses the data based on the integer position of rows or columns. We can use iloc to access rows and columns by their integer position or a boolean array. The syntax for using iloc is as follows:
df.iloc[row_index, column_index]

So, the main difference between loc and iloc is the way they access the data. loc uses labels, while iloc uses integer positions. It's important to note that loc includes the last label in a range, while iloc does not include the last integer in a range.

For example, if we have a DataFrame df with index labels [0, 1, 2, 3] and we want to select the rows with labels between 1 and 3, we would use df.loc[1:3]. This would select rows with labels 1, 2, and 3. However, if we use df.iloc[1:3], this would select rows with integer positions 1 and 2, but not 3.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [3]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc[2] selects the row with the label 2, which is the row with index label 1 in the original DataFrame df. On the other hand, new_df.iloc[2] selects the row with the integer position 2, which is the row with index label 3 in the original DataFrame df. This is because the rows of new_df have been reindexed based on the order of the reindex list, and the original index labels have been replaced with the corresponding values in the reindex list.

Now, to answer the given question, we can use the following code to find the mean of each column and the standard deviation of column 'column_2' in the dataframe df1:

In [6]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6,6), columns=columns, index=indices)

# Mean of each column
print("Mean of each column:")
print(df1.mean())

# Standard deviation of column 'column_2'
print("Standard deviation of column 'column_2':")
print(df1['column_2'].std())

Mean of each column:
column_1    0.587899
column_2    0.229155
column_3    0.596252
column_4    0.488407
column_5    0.503313
column_6    0.468946
dtype: float64
Standard deviation of column 'column_2':
0.23026495046714568

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [7]:
df1.loc[2, 'column_2'] = 'string_data'

In [8]:
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')
print("Mean of column 'column_2':", df1['column_2'].mean())

Mean of column 'column_2': 0.24314188563544903

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function is a way to perform calculations on a sliding window of data in a DataFrame or Series. A window function applies a function to a specified window of data, which moves through the DataFrame or Series, producing a new output value at each step.

Window functions are commonly used in time series analysis and signal processing to smooth out data and remove noise, identify trends, or detect anomalies. Some common types of window functions include:

Rolling window functions: These functions apply a calculation to a specified window of data, which slides along the Series or DataFrame. The rolling() method of a Series or DataFrame object can be used to apply these types of functions.

Expanding window functions: These functions apply a calculation to all data points up to and including the current data point. The expanding() method of a Series or DataFrame object can be used to apply these types of functions.

Exponentially weighted window functions: These functions apply a weighted average to a specified window of data, with the most recent data points weighted more heavily than older data points. The ewm() method of a Series or DataFrame object can be used to apply these types of functions.

Aggregation window functions: These functions apply an aggregation function (such as sum, mean, or count) to a specified window of data. The rolling() method can also be used to apply these types of functions, with the aggregation function specified as a parameter.

By using these window functions, we can perform various types of data analysis tasks like data smoothing, trend analysis, anomaly detection, etc.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [11]:
import pandas as pd

# create a datetime object with the current date and time
now = pd.datetime.now()

# extract the current month and year from the datetime object
current_month = now.month
current_year = now.year

# print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 3
Current year: 2023

/tmp/ipykernel_70/934091005.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [12]:
import pandas as pd

# prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the timedelta between the two dates
timedelta = date2 - date1

# extract the number of days, hours, and minutes from the timedelta
days = timedelta.days
hours = timedelta.seconds // 3600
minutes = (timedelta.seconds // 60) % 60

# display the result
print("The difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2023-02-10
Enter the second date (YYYY-MM-DD):  2022-10-02

The difference between 2023-02-10 and 2022-10-02 is:
-131 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [16]:
import pandas as pd

# prompt the user to enter the file path and column name
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")

# read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# prompt the user to enter the category order
cat_order = input("Enter the category order (comma-separated): ")
cat_order = [x.strip() for x in cat_order.split(",")]

# convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# display the sorted data
df = df.sort_values(col_name)
print(df)

Enter the file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name:  Age
Enter the category order (comma-separated):  bool

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  NaN      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  NaN      1
2                               Heikkinen, Miss. Laina  female  NaN      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  NaN      1
4                             Allen, Mr. William Henry    male  NaN      0
..                                                 ...     ...  ...    ...
886                              Montvila, Rev. Juozas    male  NaN      0
887                       Graham, Miss. Margaret Edith  female  NaN      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  NaN      1
889                              Behr, Mr. Karl Howell    male  NaN      0
890                                Dooley, Mr. Patrick    male  NaN      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt the user to enter the file path
file_path = input("Enter the file path: ")

# read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# convert the date column to a pandas datetime object
df['Date'] = pd.to_datetime(df['Date'])

# group the data by product category and date
grouped = df.groupby(['Product Category', 'Date']).sum()

# reshape the data to have product categories as columns
stacked = grouped.unstack(level=0)

# plot the stacked bar chart
stacked.plot(kind='bar', stacked=True)

# set the chart title and labels
plt.title("Sales by Product Category")
plt.xlabel("Date")
plt.ylabel("Sales")

# display the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean = df["Test Score"].mean()
median = df["Test Score"].median()
mode = df["Test Score"].mode()

# Display the mean, median, and mode in a table
table = pd.DataFrame({"Statistic": ["Mean", "Median", "Mode"], "Value": [mean, median, mode]})
print(table)