In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized data that can be easily accessed, managed, and updated. Databases are commonly used in software applications to store, retrieve, and manipulate data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems. The main differences between SQL and NoSQL databases are:

Data structure: SQL databases are table-based, with structured data organized into rows and columns. NoSQL databases are document-based, key-value pairs, column-family, or graph-based, with flexible and unstructured data formats.

Schema: SQL databases have a rigid schema that must be defined before data can be added to the database. NoSQL databases have a flexible schema that allows data to be added without a predefined structure.

Scalability: SQL databases are vertically scalable, which means that they can only handle increased load by adding more resources to a single server. NoSQL databases are horizontally scalable, which means that they can handle increased load by adding more servers to the database cluster.

ACID compliance: SQL databases are generally ACID compliant, which means that they guarantee data consistency, integrity, and transaction durability. NoSQL databases may not be ACID compliant, but they often provide high availability and partition tolerance.

Use cases: SQL databases are commonly used for complex queries and transactions in enterprise applications. NoSQL databases are often used for large-scale web applications, real-time analytics, and mobile applications.

In summary, SQL databases are best suited for applications that require complex queries and transactions, while NoSQL databases are best suited for applications that require high scalability and flexibility with unstructured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define, modify, and delete database objects such as tables, indexes, views, and constraints.

In [ ]:
#CREATE: The CREATE statement is used to create a new database object, such as a table or an index.
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50),
  phone VARCHAR(15)
);

In [ ]:
#DROP: The DROP statement is used to delete an existing database object, such as a table or an index
DROP TABLE customers;

In [ ]:
#ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding or removing columns from a table
ALTER TABLE customers ADD COLUMN address VARCHAR(100);

In [ ]:
#TRUNCATE: The TRUNCATE statement is used to remove all the data from an existing table, while keeping the structure of the table intact.
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate the data in a database.

In [ ]:
# INSERT: The INSERT statement is used to insert new rows into a table
INSERT INTO customers (id, name, email, phone) VALUES (1, 'John Doe', 'john.doe@example.com', '555-1234');

In [ ]:
# UPDATE: The UPDATE statement is used to modify existing rows in a table
UPDATE customers SET email = 'john.doe.new@example.com' WHERE id = 1;

In [ ]:
# DELETE: The DELETE statement is used to remove rows from a table.
DELETE FROM customers WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# DQL (Data Query Language) is a subset of SQL used to retrieve data from a database. 
# The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in a database. 
# The basic syntax of the SELECT statement is as follows:

SELECT name, salary FROM employees WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It is used to enforce the integrity of the data in the table, and to ensure that each row can be uniquely identified. A primary key cannot contain null values, and must be unique across all rows in the table.

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish relationships between tables, and to enforce referential integrity between the tables. A foreign key must reference an existing primary key in another table, and can contain null values if the corresponding primary key allows null values.

In summary, a primary key is a column or a set of columns in a table that uniquely identifies each row in that table, while a foreign key is a column or a set of columns in a table that refers to the primary key of another table. These concepts are important for establishing relationships between tables and ensuring data integrity in relational databases.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)


# The cursor() method creates a new cursor object that can be used to execute SQL queries and fetch results from the database. 
# The execute() method is used to execute an SQL query. 
# It takes the query as a string argument and returns a cursor object that can be used to fetch the results.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

1.FROM
2.JOIN
3.WHERE
4.GROUP BY
5.HAVING
6.SELECT
7.DISTINCT
8.ORDER BY
9.LIMIT/OFFSET